{% extends 'base.html' %}
{% block body %}
<head> 
  <title>Login page </title>
</head>
  <div class="container">
    <h2>Login</h2>
    <form method="POST" > 
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Username" name="username" required>
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" placeholder="Password" name="password" required>
      </div>
      <button class="btn btn-primary" type="submit">Login</button>
      <p>Don't have an account? <a href="register.html">register page</a></p>
    </form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
{% endblock body %}